# Causal Inference for Observation Studies

Libraries

In [1]:
import os, sys
sys.path.append(os.path.abspath("../../../"))

In [2]:
import numpy as np
import pandas as pd
import logging # implement a flexible event logging system for applications and libraries.

import dowhy
from dowhy import CausalModel
import dowhy.datasets

### Use Case 1: Classical Binary Treatment Situatiomn

Pegar gerar data set mais complexo, combinando variáveis categóricas também

In [3]:
data = dowhy.datasets.linear_dataset(beta=10, # causal coef
        num_common_causes=7, # cofounders
        num_instruments = 2, #vi
        num_treatments=1, # treatment
        num_samples=100000, # sample
        treatment_is_binary=True,
        outcome_is_binary=False)
df = data["df"]
df.head()

,Z0,Z1,W0,W1,W2,W3,W4,W5,W6,v0,y
0,0.0,0.635527,-1.272201,-0.210650,-0.257483,0.062589,-1.382385,0.328520,2.443560,False,-4.286143
1,0.0,0.810961,-0.664514,-0.708801,-1.665683,1.533422,-1.571270,0.389675,0.895163,True,5.138863
2,0.0,0.579247,-1.431582,-1.228073,0.750627,1.181980,-1.272995,-0.684143,0.198088,True,2.978628
3,1.0,0.477340,-0.377106,0.711798,-0.534528,0.180137,0.259558,-1.115557,-1.139318,True,9.810206
4,0.0,0.943115,-0.789293,-0.676547,0.529083,1.581772,0.975999,0.677444,1.289923,True,23.627505

In [7]:
df.describe()

,Z0,Z1,W0,W1,W2,W3,W4,W5,W6,y
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.312730,0.500598,-0.439028,-0.698965,-0.295009,0.126126,-0.754519,-0.639799,0.596855,-2.631367
std,0.463608,0.288321,0.997191,1.000376,0.996425,0.997936,0.998980,0.997334,0.995996,12.716401
min,0.000000,0.000012,-4.766196,-5.202355,-4.441720,-4.069763,-4.993382,-5.104395,-3.820164,-51.227833
25%,0.000000,0.251738,-1.109037,-1.372843,-0.963729,-0.542636,-1.430875,-1.313611,-0.073678,-12.615149
50%,0.000000,0.499771,-0.442046,-0.699698,-0.297779,0.127711,-0.754927,-0.637031,0.600159,-2.021379
75%,1.000000,0.749501,0.236720,-0.022691,0.373587,0.800039,-0.083024,0.036725,1.267562,7.340836
max,1.000000,0.999996,3.883397,3.562277,4.027792,3.991841,3.438740,4.133448,4.857892,44.068320

In [ ]:
# dict mapping new column names