# Observational Study Using DoWhy - Lalonde Case Study

## Intro

Write some explanation about the project here later

## Project Setup

In [9]:
import sys
import numpy as np
import pandas as pd
sys.path.insert(1, '../src')
import plotly_utils as pu

In [11]:
rct_data = pd.read_stata('../data/raw/nsw_dw.dta')
observational_data = pd.concat(
    [ 
        pd.read_stata('../data/raw/cps_controls.dta'),
        pd.read_stata('../data/raw/psid_controls.dta'),
    ],
    ignore_index=True
)
# overview of the data format
rct_data.head()

,data_id,treat,age,education,black,hispanic,married,nodegree,re74,re75,re78
0,Dehejia-Wahba Sample,1.0,37.0,11.0,1.0,0.0,1.0,1.0,0.0,0.0,9930.045898
1,Dehejia-Wahba Sample,1.0,22.0,9.0,0.0,1.0,0.0,1.0,0.0,0.0,3595.894043
2,Dehejia-Wahba Sample,1.0,30.0,12.0,1.0,0.0,0.0,0.0,0.0,0.0,24909.449219
3,Dehejia-Wahba Sample,1.0,27.0,11.0,1.0,0.0,0.0,1.0,0.0,0.0,7506.145996
4,Dehejia-Wahba Sample,1.0,33.0,8.0,1.0,0.0,0.0,1.0,0.0,0.0,289.789886

## Data Analysis